*
{
    box-sizing: border-box;
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 5px;
}
.container
{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.container-left-part
{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hand
{
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.hand-bot
{
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.field
{
    border-width: 5px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    width: 50%;
    height: 30%;
}
.card-rock
{
    background-color: #F3CF71;
    border-radius: 1px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    height: 100%;
    flex: 1;
    display: flex;
    padding: 5px;
}
.card-paper
{
    background-color: #F3CF71;
    border-radius: 1px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    height: 100%;
    flex: 1;
    display: flex;
    padding: 5px;
}
.card-scissors
{
    background-color: #F3CF71;
    border-radius: 1px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    height: 100%;
    flex: 1;
    display: flex;
    padding: 5px;
}
.card-undef
{
    background-color: #F3CF71;
    border-radius: 1px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    height: 100%;
    flex: 1;
    display: flex;
    padding: 5px;
}
.scissors
{
    flex: 1;
    background-color: #F3CF71;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: min(10cqw, 10cqh);
}
.paper
{
    flex: 1;
    background-color: #F3CF71;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: min(10cqw, 10cqh);
}
.rock
{
    flex: 1;
    background-color: #F3CF71;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: min(10cqw, 10cqh);
}
.undef
{
    flex: 1;
    background-color: #F3CF71;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: min(10cqw, 10cqh);
}
.menu
{
    width: 25%;
}