*
{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 5px;
    position: relative;
}
.container
{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.game-wrapper {
   display: flex; 
}
.container-left-part
{
    width: 75%;
    margin: 0 auto;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hand
{
    height: 27vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: end;
    flex-wrap: wrap;
    justify-content: center;
}
.hand-bot
{
    height: 27vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.field
{
    margin: 20px 0 20px 0;
    border-width: 5px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    width: 90%;
    height: 35vh;
    display: flex;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
    gap: 5px;
}
.card-rock,.card-paper,.card-scissors,.card-undef,.card-fox,.card-lizard
{
    background-color: #F3CF71;
    border-radius: 1px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    height: 100%;
    display: flex;
    padding: 5px;
}

.placeforbotcard > .card, .placeforplayercard > .card
{
    width: 100%;
}

.card {
    transition: all ease 0.1s;
    width: 18%;
}
.card:hover {
    transform: translateY(-10px);
}
.hand-bot > .card:hover {
    transform: none;
}
.placeforbotcard > .card:hover, .placeforplayercard > .card:hover {
    transform: none;
}
.timer {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    background: #F3CF71;
    width: 100px;
    height: 70px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.scissors,.paper,.rock,.undef,.lizard,.fox
{
    flex: 1;
    background-color: #F3CF71;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: min(6cqw, 6cqh);
}
.menu
{
    position: fixed;
    right: -405px;
    top: 0;
    height: 100%;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 2px solid #000;
    background: #F3CF71;
    width: 400px;
    font-size: 24px;
    animation: decreaseWidth 0.5s ease-in-out;
}
.menu-header
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.listsettings
{
    list-style: none;
    font-size: 18px;
    padding: 0px;
}
.listsettings li
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px; 
}

.status
{
    height: 5%;
}

.button {
    width: 100%;
    height: 45px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    border: #000 2px solid;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.button:hover {
    background: transparent;
    color: #000;
    border: #000 2px solid;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.blocker
{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: gray;
    opacity: 0.7;
    z-index: 2;
    color: coral;
    font-size: 150px;
}

.time
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}

input
{
    width: 50px;
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    text-align: center;
    outline: none;
}
input:hover {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter
{
    font-size: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.win
{
    color: cadetblue;
}
.lose
{
    color: #ff0000;
}

.placeforbotcard, .placeforplayercard
{
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
}
.spaceforcards
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 44px;
}
.historyofgame
{
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
}
.record
{
    text-align: center;
}
.historyofgame > tbody > tr > td, .historyofgame > tbody > tr > th
{
    border-width: 1px;
    border-style: solid;
}
.allrounds
{
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.win
{
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.lose
{
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.settings
{
    position: relative;
}
.blockerformenu
{
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: gray;
    opacity: 0.7;
    z-index: 2;
}
.backfortime
{
    transition: transform 1s ease;
}
.fortime
{
    display: flex;
    font-size: 44px;
    justify-content: center;
}

/*--- burger-menu ---*/

.burger {
    z-index: 1488;
    position: fixed;
    right: 20px;
    top: 25px;
    width: 32px;
    height: 24px;
    cursor: pointer;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 12px;
    display: block;
    transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
    content: "";
    width: 100%;
    background-color: black;
    display: block;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    height: 4px;
}

.skiptimer
{
    width: auto;
    margin: 0;
}

@keyframes increaseWidth {
    0% {
        right: -405px;
    }
    100% {
        right: 0px;
    }
}

@keyframes decreaseWidth {
    0% {
      right: 0;
    }
    100% {
      right: -405px;
    }
  }


.burger span::before {
    transform: translateY(-10px);

}

.burger span::after {
    transform: translateY(10px);
    margin-top: -4px;
}

.menu_toggle {
    animation: increaseWidth 0.5s ease-in-out !important;
    right: 0;
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
}

.stats
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}
.headforstats
{
    font-size: 40px;
    text-align: center;
    background: #F3CF71;
    margin-top: 5px;
}

/*------ Tables ------*/

.container-table th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: center;
  color: #000;
}

.container-table td {
    font-weight: normal;
    font-size: 1em;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container-table {
    text-align: left;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
  display: table;
  padding: 0 0 2em 0;
}

.container-table td, .container-table th {
    padding-bottom: 2%;
    padding-top: 2%;
}

.container-table tr {
    background-color: #f8d478;
}

.container-table th {
    background-color: #f58c46;
}


.container-table tr:hover {
   background-color: #fae482;
   box-shadow: 0 6px 6px -6px #0E1119;
}

.container-table td:hover {
  background-color: #FFF842;
  color: #403E10;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
  transition-timing-function: line;
}


/*------ Chart ------*/
  .chart {
    width: 33%;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.25em;
    text-anchor: middle;
  }


/*--------- Media quaries ---------*/
/*--------- col -> col-sm -> col-md -> col-lg -> col-xl ---------*/

/*--------- 992 - 1200 ---------*/
@media screen and (max-width: 1200px) {
    .container {
        width: 992px;
    }
}

/*--------- 768 - 992 ---------*/
@media screen and (max-width: 991px) {
    .container {
        width: 768px;
    }
    .menu
    {
        width: 300px;
    }

}

/*--------- 576 - 768 ---------*/
@media screen and (max-width: 767px) {
    .container {
        width: 576px;
    } 
}

/*--------- 320 - 578 ---------*/
@media screen and (max-width: 576px) {
    .container {
        width: 320px;
    } 
}